/*
 * Globals
 */

::root {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .logo {
    max-width: 200px;
  }

  .row .column:not(:last-child) {
    margin-bottom: 1rem;
  }

  .video {
    width: 100%;
  }

  .list-form {
    width: 90%;
  }

  .newsletter-text {
    font-size: 0.65rem;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  html {
    font-size: 13px;
  }

  .logo {
    max-width: 200px;
  }

  .row {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .row .column {
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
  }

  .row .column:not(:last-child) {
    margin-right: 10px;
  }

  .align-right {
    text-align: right;
  }

  .video {
    width: 70%;
  }

  .list-form {
    width: 60%;
  }

  .newsletter-text {
    font-size: 1.2rem;
  }
}

/* md */
@media screen and (min-width: 992px) {
  html {
    font-size: 15px;
  }

  .logo {
    max-width: 300px;
  }
}

/* lg */
@media screen and (min-width: 2560px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family: "Iosevka Aile Web", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #c5c8c6;
  background-color: #1d1f21;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

b {
  font-weight: 800;
}

blockquote {
  font-style: italic;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Iosevka Aile Web", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
  color: #c5c8c6;
}

h1 {
  color: #81a2be;
}

h2 {
  color: #b294bb;
}

h3 {
  color: #b5bd68;
}

h4 {
  color: #de935f;
}

a {
  /* color: #b294bb; */
  color: #81a2be;
}

a:hover,
a:focus {
  color: #81a2be;
}

.anchor {
  color: #1d1f21;
  float: left;
  padding-right: 4px;
  margin-left: -23px;
}

.anchor:hover {
  text-decoration: none;
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor {
  color: inherit;
}

kbd {
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;
}

pre {
  font-family: "JetBrains Mono", monospace;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 1em;
  overflow-x: scroll;
}

code {
  color: #b294bb;
}

pre,
code {
  font-family: "JetBrains Mono", monospace;
  font-weight: 200;
  font-size: 1rem;
}

strong {
  font-weight: 700;
}

/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}

/*
 * Masthead for nav
 */

.site-masthead {
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.35);
  border-bottom: 0.05rem solid #b294bb;
  -webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -0.1rem 0.25rem rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 0rem;
  font-size: 1.3rem;
  margin: 0.5rem 1.25rem 0.5rem 0rem;
  font-weight: bold;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
  font-weight: bolder;
}

.nav-icon {
  float: right;
}

.nav-icons {
  width: auto;
}

/*
 * Blog name and description
 */

.site-header {
  font-family: "Iosevka Aile Web", sans-serif;
  font-weight: bold;
}

.site-title {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #81a2be;
}
.site-description {
  font-size: 1.5rem;
  color: #5a5b5a;;
}

@media (max-width: 40em) {
  .site-description {
    margin-bottom: 1rem;
  }
}

/*
 * Site pages
 */

.site-post {
  margin-bottom: 2rem;
}

.site-post-title {
  margin-bottom: 0.75rem;
  font-size: 2.5rem;
}

.site-post-meta {
  margin-bottom: 1.25rem;
  color: #5a5b5a;;
}

.site-post-tags {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  font-size: 1.1rem;
  color: #5a5b5a;;
}

/*
 * Footer
 */

.site-footer {
  padding: 1.3rem 0;
  margin-top: 1rem;
  color: #cdddeb;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.35);
  border-top: 0.05rem solid #b294bb;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer-right {
  text-align: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*
 * Tables
 */

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #c5c8c6;
  border-collapse: collapse;
  border: 1px solid #44475a;
  overflow: auto
}
tbody tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.25);
  color: #c5c8c6;
}
th, td {
  padding: 10 15;
}
th {
  background-color: lighten(#44475a, 3%);
  border: 1px solid #44475a;
  border-bottom-color: darken(#44475a, 12%);
}
td {
  border: 1px solid #44475a;
}


.table-wrapper {
  overflow: auto;
}

/*
 * Figures
 */

.figure {
  display: flex;
  justify-content: center;
}

.figure img {
  max-height: 100%;
  max-width: 100%;
}
